.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


div.md-sidebar.hidden-print.affix.well{ display: none; }

div.md-sidebar.md-sidebar--primary{display: none;}

div.h1 {
    text-align: center;
  }


div.h1{
    height: 400px;
    width: 800px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    marg
}

[data-md-color-primary=light-blue] .md-header, [data-md-color-primary=light-blue] .md-hero {
    background-image: url("/assets/images/background.png");
    background-color: #cccccc;
}